<!--================ Work Statics section start =================-->
<section>
  <div class="container static__single-position">
    <div class="row">
      <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
        <div class="card static__single">
          <h3><%= count_employees %></h3>
          <h4><%= t("employees.count") %></h4>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
        <div class="card static__single">
          <h3><%= grouped_athletes("academic_rowing") %></h3>
          <h4><%= t("athletes.academic_rowing") %></h4>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
        <div class="card static__single">
          <h3><%= grouped_athletes("canoe_rowing") %></h3>
          <h4><%= t("athletes.canoeing") %></h4>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
        <div class="card static__single">
          <h3><%= grouped_athletes("kayaking_rowing") %></h3>
          <h4><%= t("athletes.kayaking") %></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Work Statics section end =================-->