<!DOCTYPE html>
<html>
  <head>
    <title>Row</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "libraries" %>
    <link rel="icon" href="../images/Fevicon.png" type="image/png">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/assets/linericon/style.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/Magnific-Popup/magnific-popup.css">

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
  </head>

  <body>

  <%= render "/top_header" %>
  <%= render "/header" %>
  <%= render "/banner" %>

  <%= yield %>


  <%= render "/footer" %>
  </body>
</html>
